/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-card {
    background: darkblue;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin-bottom: 200px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    
    margin-bottom: 15px;
}

.user-name {
    font-size: 24px;
    color: white
    ;
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.user-email {
    font-size: 14px;
    color: skyblue;
    margin-bottom: 15px;
}

.user-details {
    font-size: 14px;
    color: #555;
    text-align: left;
    margin: 10px 20px;
}

.user-details p {
    margin: 5px 0;
}




*{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}